.spinner-container {
  align-items: center;
  background-color: black;
  border-radius: 1.5rem;
  bottom: 1rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  padding: 0.5rem 1rem;
  position: fixed;
  right: 1rem;
}
